<h1>All Books</h1>

<a href="/books/add" class="btn btn-primary mb-3">Add New Book</a>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Price</th>
      <th>Year</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% books.forEach(book => { %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.price %></td>
        <td><%= book.publishedYear %></td>
        <td>
          <a href="/books/edit/<%= book._id %>" class="btn btn-warning btn-sm">Edit</a>

          <form action="/books/delete/<%= book._id %>" method="POST" style="display:inline;">
            <button class="btn btn-danger btn-sm">Delete</button>
          </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>

